:root{
  --background-color: coral;
  --navbar-color:#f4f4f4;
  --transition: all ease-in-out 0.4s; 
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#navbar ul{
  list-style: none;
}

#navbar ul li{
  color:#333;
  display: inline-block;
  padding: 1rem;
  position: relative;
  transition: var(--transition); 
}

#navbar ul li ul{
  color: #333;
  text-decoration: none;
}

/* hide nested ul by default */
#navbar ul li ul{
  display:none;
}

#navbar ul li:hover{
  cursor:pointer;
  background: var(--background-color);
  color: var(--navbar-color);
}

/* nested dropdown show */
#navbar ul li:hover ul{
  display:block;
  position: absolute;
  left:0;
  width:200px;
  margin-top:1rem;
  background: var(--background-color);
}

#navbar ul li:hover ul li{
  display: block;
  background: #f2f2f2;
  color: var(--navbar-color);
  transition: var(--transition);

}

#navbar ul li:hover ul li a{
  /* color: var(--navbar-color); */
  text-decoration: none;
  color: #333;
}

#navbar ul li:hover ul li:hover{
  background: #f2f2f2;
  color: var(--background-color);
}



#navbar ul li:hover ul li a:hover{
  background: #f2f2f2;
  color: var(--background-color);
}

#navbar ul li:hover ul li span{
  float:right;
  color: #f2f2f2;
  background-color: var(--background-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span{
  background: chocolate;
}

@media(max-width: 600px){
  #navbar ul li{
    display:block;
  }

  #navbar ul li:hover ul{
    width: 100%;
    position: relative;
  }
}