:root{
  --background-color: coral;
  --navbar-color: #f4f4f4;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


.mainheader{
  background: var(--background-color);
  color: var(--navbar-color);
  text-align: center;
  padding:70px;
  font-size: 2rem;
}